---
layout: default
permalink: /
redirect_from:
  - /accueil/
  - https://www.pep.enpc.org/
  - http://www.pep.enpc.org/
  - https://pep.enpc.org/
  - https://www.junior-pep.fr/
  - http://www.junior-pep.fr/
description: "Ponts Études Projets, la Junior-Entreprise de l'École des Ponts : transition écologique, transformation digitale, stratégie et génie mécanique, par des élèves-ingénieurs encadrés."
---

{% include home/hero.html %}
{% include home/figures.html %}
{% include home/about.html %}
{% include home/services.html %}
{% include home/processus.html %}
{% include home/extra-js.html %}
{% include home/clients.html %}
{% include home/actualites.html %}
{% include home/partenaires.html %}
{% include home/contact.html %}
