<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="padding-bottom: 50px;">Le déroulement d'une mission</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            {% include responsive-image.html src="mission/devis.jpg" widths="340" sizes="170px" alt="Rédaction d'un devis" class="img-circle img-responsive" %}
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Envoi d'un devis</h4>
                                <h4 class="subheading">Analyse de votre besoin</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Après analyse de votre besoin, nous définissons une démarche de résolution et vous proposons un devis</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            {% include responsive-image.html src="mission/CE.jpg" widths="340" sizes="170px" alt="Proposition d'une offre" class="img-circle img-responsive" %}
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Convention d'Étude</h4>
                                <h4 class="subheading">Notre proposition</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ce document présente notre offre et détaille le cahier des charges de la mission</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            {% include responsive-image.html src="mission/recrutement.jpg" widths="340" sizes="170px" alt="Recrutement d'un étudiant" class="img-circle img-responsive" %}
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Recrutement</h4>
                                <h4 class="subheading">Choix d'un ou de plusieurs étudiants</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous recrutons un ou plusieurs étudiants pour réaliser la mission</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            {% include responsive-image.html src="mission/suivi.jpg" widths="340" sizes="170px" alt="Suivi de l'étudiant" class="img-circle img-responsive" %}
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Suivi des réalisateurs de mission</h4>
                                <h4 class="subheading">Le rôle du chef de projet</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous accompagnons les étudiants jusqu'à la fin de la mission</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            {% include responsive-image.html src="mission/livrable.jpg" widths="340" sizes="170px" alt="Présentation des livrables" class="img-circle img-responsive" %}
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Présentation du livrable</h4>
                                <h4 class="subheading">En temps et en heure</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous garantissons un rendu du livrable demandé avec une garantie de 90 jours</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/contact/" class="timeline-image dark-grey-on-hover">
                            <h4>Osez
                            <br>l'aventure
                            <br>JE&nbsp;!</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>