<section id="politique_de_cookies">
    <div>
        <hr>
        <div class="text-center">
            <h2>Cookie policy</h2>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        Cookies may be installed on your terminal during visits to our site.<br>
                        In accordance with Article 5(3) of the ePrivacy Directive 2002/58/EC as amended in 2009, Article 82 of the French Data Protection Act and the CNIL guidelines adopted on 17 September 2020.
                        <br>
                        Information on how we use cookies and your rights to manage them is provided.
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="container">
        <div class="text-justify">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        About this website :
                    </h4>
                    Ponts Études Projets' website (hereinafter referred to as the "Website") provides information about the Organisation and its activities, and offers access to a number of services.<br>
                    To ensure the proper functioning of the Website and access to these services, we use cookies.<br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Scope of the cookie policy :
                    </h4>
                    This Cookie Policy explains what cookies are, what types of cookies we use and the purposes for which we use them. In addition, it sets out how you (the "User") can manage the use of cookies.<br>
                    As some cookies may process personal data, we recommend that you take a few minutes to read our Cookie Policy.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        What are cookies ?   
                    </h4>
                    A cookie is a small text file that is stored by your browser on your device, such as your computer or mobile phone, when you visit a website and can send information back to that site. This information is most often used to facilitate your navigation, for example by remembering your choice of language.<br>
                    However, cookies may be used for a variety of purposes, such as collecting statistics about the way you use a site, enhancing site security or displaying information correctly.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Do we use cookies?
                    </h4>
                    We use cookies on several pages of our Site and this section indicates the different types of cookies we use and for what purposes.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Strictly necessary cookies
                    </h5>
                    These cookies are essential to the operation of the Website and do not require your consent. They are used in particular to store your cookie choice, so that you are not asked again on every page.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Audience measurement cookies
                    </h5>
                    We use Google Analytics, an audience analysis service provided by Google Ireland Limited, to understand how our Website is used — sections and content visited, browsing paths — and to improve our services. These cookies are loaded through Google Tag Manager.<br>
                    They produce <b>pseudonymous</b> traffic statistics: an identifier is assigned to your browser, without us seeking to identify you by name. They are only set after your consent and their lifetime does not exceed 13 months.<br>
                    For further information on how Google handles this data, please visit : <a href="https://support.google.com/analytics/answer/6004245?hl=en">https://support.google.com/analytics/answer/6004245</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Other cookies
                    </h5>
                    We maintain several social media platforms and offer users the ability to join us on these platforms or post content by clicking on the social media icons on our Website. Moreover, some of the Website's pages deliver our content through the embedding of videos from these social media platforms.<br>
                    To provide these services, cookies from social media platforms, such as Twitter, Google and YouTube, may be used on some of our web pages. The videos we embed are loaded from the <i>youtube-nocookie.com</i> domain: YouTube then sets no cookie unless you start playback yourself.<br>
                    If you have any questions about the use of third-party cookies, we recommend that you read the cookie policies published on the websites of these platforms.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        How to manage cookies?
                    </h4>
                    Audience measurement cookies are only set after your explicit consent. On your first visit, a banner lets you accept or decline them; both options are offered with equal ease, and no measurement cookie is set before you click &ldquo;Accept&rdquo;.<br>
                    Until you answer, or if you decline, audience measurement stays switched off. Declining has no effect on how the site works or on access to its content.<br>
                    You can change your mind at any time by clicking &ldquo;Manage cookies&rdquo; at the bottom of every page. If you withdraw your consent, measurement is switched off immediately and cookies already set are deleted.<br>
                    You can also delete all cookies already stored by your browser, or set it to alert you to cookies stored on your device. If you decide to delete your cookies, please be aware that any preferences you may have set will be lost.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Declining an audience cookie
                    </h5>
                    To decline audience measurement, click &ldquo;Decline&rdquo; in the banner on your first visit, or &ldquo;Manage cookies&rdquo; at the bottom of the page at any time afterwards. No third-party step and no software installation is required.<br>
                    Your choice is stored in your browser. It is therefore specific to each browser and each device, and it will be forgotten if you clear your browsing data — the banner will then be shown to you again.<br>
                    <br>
                    <b>Caution</b>, these cookies allow us to measure the traffic or audience, associated with our Website, the pages visited and the interactions carried out on our site during your visit. Disabling them therefore prevents any collection of information relating to your browsing on our Website and therefore the proposal of editorial content adapted according to your browsing.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Declining a Cookie from a social network
                    </h5>
                    To prevent our Website from storing cookies in your browser for this purpose, you can click on the following deactivation links which will store a cookie in your browser that will only disable the use of other cookies from the blocked social network. Disabling these cookies will therefore prevent any interaction with the social network(s) concerned:<br>
                    FACEBOOK: <a href="https://www.facebook.com/policies/cookies/">https://www.facebook.com/policies/cookies/</a><br>
                    TWITTER: <a href="https://help.twitter.com/en/safety-and-security/twitter-do-not-track">https://help.twitter.com/en/safety-and-security/twitter-do-not-track</a><br>
                    GOOGLE+: <a href="https://support.google.com/accounts/answer/61416?hl=fr">https://support.google.com/accounts/answer/61416?hl=fr</a><br>
                    LINKEDIN: <a href="http://www.linkedin.com/legal/cookie-policy">http://www.linkedin.com/legal/cookie-policy</a><br>
                    YOUTUBE: <a href="https://support.google.com/accounts/answer/61416?hl=fr">https://support.google.com/accounts/answer/61416?hl=fr</a><br>
                    <br>
                    <b>Beware</b>, the consideration of your individual wishes is based on a certain cookie or several cookies. By deleting all the cookies stored on your terminal concerning our Website, we will no longer know which consent or refusal you have given. This will reset your consent and you will have to refuse again the cookie(s) you do not wish to keep. Likewise, if you use a different Internet browser, you will have to refuse these cookies again because your choices, like the cookies to which they relate, depend on the browser and terminal (computer, tablet, smartphone, etc.) that you use to consult our Website.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Contact details
                    </h4>
                    For any questions and/or comments about our cookie policy and this statement, please contact us using the following details:
                <br>
                Ponts Études Projets<br>
                6-8 Avenue Blaise Pascal – 77420 Champs sur Marne – France<br>
                Website : <a href="https://junior-pep.fr/">https://junior-pep.fr/</a><br>
                E-mail : <a href="mailto:contact@junior-pep.fr">contact@junior-pep.fr</a> <br>
                </div>
            </div>
            <br>
        </div>
        </div>
    </div>
</section>