<div class="banniere-cookies" id="banniere-cookies" role="dialog" aria-modal="true"
     aria-labelledby="banniere-cookies-titre" aria-describedby="banniere-cookies-texte">
    <img class="cookies" src="{{ site.baseurl }}/img/cookie.svg" alt="" aria-hidden="true">
    <h3 class="titre" id="banniere-cookies-titre">Cookies</h3>
    <p class="paragraphe" id="banniere-cookies-texte">
        Nous mesurons l'audience de ce site avec des cookies, déposés uniquement si
        vous les acceptez. Refuser n'enlève rien au fonctionnement du site, et vous
        pourrez changer d'avis via «&nbsp;Gérer mes cookies&nbsp;» en bas de page.<br>
        <a href="{{ site.baseurl }}/contact/#politique_de_cookies">Politique de cookies</a>
    </p>
    <button class="bouton" id="btn-accepter-cookies" type="button">Accepter</button>
    <button class="bouton" id="btn-refuser-cookies" type="button">Refuser</button>
</div>
<div class="fond-banniere-cookies" id="fond-banniere-cookies"></div>
