<div class="banniere-cookies" id="banniere-cookies" role="dialog" aria-modal="true"
     aria-labelledby="banniere-cookies-titre" aria-describedby="banniere-cookies-texte">
    <img class="cookies" src="{{ site.baseurl }}/img/cookie.svg" alt="" aria-hidden="true">
    <h3 class="titre" id="banniere-cookies-titre">Cookies</h3>
    <p class="paragraphe" id="banniere-cookies-texte">
        We measure this site's audience with cookies, set only if you accept them.
        Declining takes nothing away from how the site works, and you can change your
        mind through &ldquo;Manage cookies&rdquo; at the bottom of the page.<br>
        <a href="{{ site.baseurl }}/en/contact/#politique_de_cookies">Cookie policy</a>
    </p>
    <button class="bouton" id="btn-accepter-cookies" type="button">Accept</button>
    <button class="bouton" id="btn-refuser-cookies" type="button">Decline</button>
</div>
<div class="fond-banniere-cookies" id="fond-banniere-cookies"></div>
