<section id="politique_de_cookies">
    <div id="#politique_de_cookies">
        <hr>
        <div class="text-center">
            <h2>Politique relative aux cookies</h2>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        Lors de vos visites sur notre site, des cookies peuvent être installés sur votre terminal.<br>
                        Conformément à l’Article 5(3) de la directive ePrivacy 2002/58/CE modifiée en 2009, l’Article 82 de la Loi Informatique et Libertés et les lignes directrices de la CNIL adoptées le 17 septembre 2020.
                        <br>
                        Nous vous informons sur la manière dont nous utilisons les cookies, ainsi que des droits qui sont les vôtres quant à la gestion de ces derniers.
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="container">
        <div class="text-justify">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        A propos de ce site :
                    </h4>
                    Le site Web de Ponts Etudes Projets (ci-après dénommé le « Site ») donne des informations sur l’Organisation et ses activités, et propose un accès à certains services.<br>
                    Pour assurer le bon fonctionnement du Site et l’accès à ces services, nous utilisons des cookies.<br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Champs d'application de la Politique Relative aux cookies :
                    </h4>
                    La présente Politique relative aux cookies précise ce que sont les cookies, quels sont les types de cookies que nous utilisons et à quelles fins. En outre, elle indique comment vous (l’« Utilisateur ») pouvez contrôler l’utilisation des cookies.<br>
                    Certains cookies étant susceptibles de traiter des données à caractère personnel, nous vous recommandons de prendre quelques minutes pour lire notre politique relative aux cookies.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Qu'est ce qu'un cookie ?
                    </h4>
                    Un cookie est un petit fichier texte enregistré par votre navigateur sur votre appareil – votre ordinateur ou votre téléphone portable, par exemple –, lorsque vous consultez un site Web et que vous pouvez renvoyer des informations à ce site. Ces informations sont le plus souvent utilisées pour faciliter votre navigation, par exemple en mémorisant votre choix de langue.<br>
                    Les cookies peuvent toutefois être utilisés à des fins diverses, par exemple pour collecter des statistiques sur votre utilisation d’un site, renforcer la sécurité du site ou afficher correctement les informations.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Utilisons-nous des cookies ?
                    </h4>
                    Nous utilisons des cookies sur plusieurs pages de notre Site et la présente rubrique indique les différents types de cookies que nous utilisons et à quelles fins.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Cookies strictement nécessaires
                    </h5>
                    Ces cookies sont indispensables au fonctionnement du site et ne requièrent pas votre consentement. Ils servent notamment à conserver votre choix en matière de cookies, afin de ne pas vous solliciter à chaque page.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Cookies de mesure d’audience
                    </h5>
                    Nous utilisons Google Analytics, service d’analyse d’audience fourni par Google Ireland Limited, pour comprendre comment notre site est consulté — rubriques et contenus visités, parcours de navigation — et améliorer nos services. Ces cookies sont chargés par l’intermédiaire de Google Tag Manager.<br>
                    Ces cookies produisent des statistiques de fréquentation <b>pseudonymes</b> : un identifiant est attribué à votre navigateur, sans que nous cherchions à vous identifier nominativement. Ils ne sont déposés qu’après votre accord et leur durée de vie n’excède pas 13 mois.<br>
                    Pour plus d’informations sur le traitement de ces données par Google, veuillez consulter le site suivant : <a href="https://support.google.com/analytics/answer/6004245?hl=fr">https://support.google.com/analytics/answer/6004245</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Cookies tiers
                    </h5>
                    Nous sommes actifs sur plusieurs plateformes de médias sociaux et nous offrons aux utilisateurs la possibilité de nous rejoindre sur ces plateformes ou de diffuser des contenus en cliquant sur les icônes de médias sociaux sur notre Site. De plus, certaines pages du Site délivrent nos contenus par l’intégration de vidéos provenant de ces plateformes de médias sociaux.<br>
                    Pour fournir ces services, des cookies de plateformes de médias sociaux, telles que Twitter, Google et YouTube, sont susceptibles d’être utilisés sur certaines de nos pages Web. Les vidéos que nous intégrons sont chargées depuis le domaine <i>youtube-nocookie.com</i> : YouTube ne dépose alors aucun cookie tant que vous ne lancez pas vous-même la lecture.<br>
                    Pour toute question concernant l’utilisation des cookies tiers, nous vous recommandons de lire les politiques relatives aux cookies publiées sur les sites Web de ces plateformes.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Comment gérer les cookies ?
                    </h4>
                    Les cookies de mesure d’audience ne sont déposés qu’après votre accord explicite. À votre première visite, un bandeau vous permet de les accepter ou de les refuser ; les deux choix sont proposés avec la même facilité, et aucun cookie de mesure n’est déposé avant que vous n’ayez cliqué sur «&nbsp;Accepter&nbsp;».<br>
                    Tant que vous n’avez pas répondu, ou si vous refusez, la mesure d’audience reste désactivée. Refuser n’a aucune conséquence sur le fonctionnement du site ni sur l’accès à son contenu.<br>
                    Vous pouvez revenir sur votre choix à tout moment en cliquant sur «&nbsp;Gérer mes cookies&nbsp;» en bas de chaque page. Si vous retirez votre accord, la mesure est immédiatement désactivée et les cookies déjà déposés sont supprimés.<br>
                    Vous pouvez également effacer tous les cookies déjà enregistrés par votre navigateur, ou le paramétrer pour vous signaler les cookies déposés dans votre terminal. Si vous décidez d’effacer vos cookies, soyez conscient que toutes les préférences que vous avez éventuellement paramétrées seront perdues.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Refuser un cookie d'audience
                    </h5>
                    Pour refuser la mesure d’audience, cliquez sur «&nbsp;Refuser&nbsp;» dans le bandeau à votre première visite, ou sur «&nbsp;Gérer mes cookies&nbsp;» en bas de page à tout moment ensuite. Aucune démarche auprès d’un tiers ni installation de logiciel n’est nécessaire.<br>
                    Votre choix est conservé dans votre navigateur. Il est donc propre à chaque navigateur et à chaque appareil, et il sera oublié si vous effacez les données de navigation — le bandeau vous sera alors présenté à nouveau.<br>
                    <br>
                    <b>Attention</b>, ces cookies permettent de mesurer le trafic ou l’audience, associé à notre site internet, aux pages visitées et aux interactions réalisées sur notre site lors de votre visite. Les désactiver empêche donc toute collecte d’informations relatives à votre navigation sur notre site et donc la proposition de contenus éditoriaux adaptés en fonction de votre navigation.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Refuser un Cookie émis par un réseau social
                    </h5>
                    Si vous ne souhaitez pas que notre site enregistre des cookies dans votre navigateur à cette fin, vous pouvez cliquer sur les liens de désactivation suivants qui enregistreront au sein de votre navigateur un cookie ayant pour unique objet de neutraliser l’utilisation des autres cookies provenant du réseau social bloqué. Désactiver ces cookies empêchera donc toute interaction avec le ou les réseaux sociaux concernés :<br>
                    FACEBOOK: <a href="https://www.facebook.com/policies/cookies/">https://www.facebook.com/policies/cookies/</a><br>
                    TWITTER: <a href="https://support.twitter.com/articles/20171379-twitter-prend-en-charge-la-desactivation-du-suivi-dnt#">https://support.twitter.com/articles/20171379-twitter-prend-en-charge-la-desactivation-du-suivi-dnt#</a><br>
                    GOOGLE+: <a href="https://support.google.com/accounts/answer/61416?hl=fr">https://support.google.com/accounts/answer/61416?hl=fr</a><br>
                    LINKEDIN: <a href="http://www.linkedin.com/legal/cookie-policy">http://www.linkedin.com/legal/cookie-policy</a><br>
                    YOUTUBE: <a href="https://support.google.com/accounts/answer/61416?hl=fr">https://support.google.com/accounts/answer/61416?hl=fr</a><br>
                    <br>
                    <b>Attention</b>, la prise en compte de vos différents souhaits repose sur un cookie ou plusieurs cookies déterminés. Si vous supprimez tous les cookies enregistrés au sein de votre terminal concernant notre site, nous ne saurons plus quel consentement ou quel refus vous avez émis. Cela reviendra donc à réinitialiser votre consentement et vous devrez donc à nouveau refuser le ou les cookies que vous ne souhaitez pas conserver. De même, si vous utilisez un autre navigateur Internet, vous devrez à nouveau refuser ces cookies car vos choix, comme les cookies auxquels ils se rapportent, dépendent du navigateur et du terminal (ordinateur, tablette, smartphone, etc.) que vous utilisez pour consulter notre site.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Coordonnées
                    </h4>
                    Pour des questions et/ou des commentaires sur notre politique de cookies et cette déclaration, veuillez nous contacter en utilisant les coordonnées suivantes :
                <br>
                Ponts Etudes Projets<br>
                6-8 Avenue Blaise Pascal – 77420 Champs sur Marne – France<br>
                Site web : <a href="https://junior-pep.fr/">https://junior-pep.fr/</a><br>
                E-mail : <a href="mailto:contact@junior-pep.fr">contact@junior-pep.fr</a> <br>
                </div>
            </div>
            <br>
        </div>
        </div>
    </div>
</section>